# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare text files
*.py text
*.json text
*.md text
*.yml text
*.yaml text
*.txt text
*.sql text

# Declare binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
